* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: monospace;
  font-size: 14px;
  position: fixed;
  display: block;
  width: 90%;
  max-width: 1024px;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: orchid;
}

img {
  width: 100%;
  height: auto;
}

.container {
  text-align: center;
}

.backwards--container {
  display: flex;
}

.backwards {
  display: block;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.container:hover .backwards {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

input[type=text], select {
  padding: 2px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: orchid;
}

input[type=submit] {
  padding: 2px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

::placeholder {
  color: orchid;
  opacity: .5;
}

#special {
  margin: 64px;
  color: white;
  opacity: 0;
}

#special:hover {
  color: red;
  opacity: .5;
}